:root {
  font-family: Minecraft, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@font-face {
  font-family: Minecraft;
  src: url('./assets/Minecraft.ttf');
}

.game-container {
  width: 960px;
  height: 422px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  background-image: url('./assets/background.jpg');
  background-size: contain;
  animation: bg-move 30s linear infinite;
}

@keyframes bg-move {
  0% {
    background-position: 960px;
  }
  100% {
    background-position: -960px;
  }
}

.player {
  width: 170px;
  height: 78px;
  position: absolute;
  bottom: 40px;
  left: 20%;
  background-image: url('./assets/run-dino.webp');
  background-size: cover;
  background-position: bottom;
}

.player.jump {
  animation: jump infinite;
  background-image: url('./assets/dino.png');
}

.player.stop {
  background-image: url('./assets/dino.png');
}

@keyframes jump {
  0% {
    bottom: 40px;
  }

  25% {
    bottom: 200px;
  }
  40% {
    bottom: 200px;
  }

  100% {
    bottom: 40px;
  }
}

.obstacle {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 40px;
  left: 80%;
  animation: obstacle-move 7s linear infinite;
  background-image: url('./assets/rock.webp');
  background-size: contain;
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: -100px;
  }
}

@keyframes obstacle-move {
  0% {
    left: 100%;
  }
  50% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

.berry {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 200px;
  left: 100%;
  animation: move 3s linear infinite 1s;
  background-image: url('./assets/berry.png');
  background-size: contain;
}
.berry-small {
  width: 40px;
  height: 40px;
  background-image: url('./assets/berry.png');
  background-size: contain;
  display: inline-block;
}

.trophy {
  width: 25px;
  height: 25px;
  background-image: url('./assets/trophy.png');
  background-size: contain;
  display: inline-block;
  margin: 12px 8px 8px;
}

.trophy.big {
  width: 60px;
  height: 60px;
}

.berry.collected {
  opacity: 0;
}

.score-card {
  color: #fff;
  font-size: 24px;
  margin: 0 12px;
  display: flex;
  align-items: center;
}

.high-score {
  text-align: center;
}

.high-score h1 {
  color: #000;
  text-shadow: 0 0 4px #e6c808;
  margin-top: 0;
}

.high-score input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #e6c808;
  border-radius: 5px;
  font-family: Minecraft;
  text-align: center;
  width: 200px;
  outline: none !important;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.restart-game {
  background-color: #ffffffb8;
}

button {
  background-color: #f8e45c;
  font-size: 32px;
  color: #000;
  border: none;
  padding: 10px 20px 0;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.1s;
  font-family: Minecraft;
  display: block;
}

button:hover {
  background-color: #aef11e;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -4px;
  background-color: #e6c808;
  transform: translateZ(-1px);
}

button::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  right: -4px;
  top: 0;
  background-color: #e6c808;
  transform: translateZ(-1px);
}
